body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
  background-color: #e0eaf3;
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav div {
  margin: 30px 50px 30px 50px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

nav div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

button {
  color: white;
  background-color: #f86642;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

#title {
  text-align: center;
  font-weight: bold;
}

#title span {
  color: #f86642;
}

#content {
  justify-content: space-around;
  margin: auto;
  width: 60%;
  z-index: 2;
  position: relative;
}

#content {
  font-weight: bold;
}

#content section {
  display: flex;
  justify-content: space-around;
}

#title {
  margin-bottom: 25px;
  font-size: xx-large;
}

#content article {
  display: flex;
}

#content article img {
  align-self: center;
  margin-right: 5px;
}
#imgHeader {
  margin-top: -20px;
  z-index: 1;
}

#content button {
  background: linear-gradient(to top left, #f86642, #fa947a);
  margin-top: 5px;
}

#company {
  background-color: #292526;
  color: white;
  padding: 30px;
}

#company span {
  color: #f86642;
}

#companylogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.verticalLine {
  border: #f86642 solid 1px;
  height: 50px;
}

/* MAIN */
main {
  padding: 100px;
  text-align: center;
}

#article-1 {
  margin-bottom: 50px;
}

#article-1 section {
  display: flex;
  justify-content: space-around;
}

#article-1 figure {
  width: 30%;
}

#article-1 img {
  height: 40%;
}

#article-1 figcaption {
  font-weight: bold;
}

.number {
  margin: auto;
  background: linear-gradient(to top, #f86642, #fa947a);
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
  color: white;
  font-weight: bold;
}

#article-2 section {
  margin-top: 50px;
  display: flex;
}

#article-2 img {
  margin-top: 25px;
  height: 50%;
}

#portofolio {
  background-color: #292526;
}

#card1 {
  background-color: #292526;
}

@media screen and (max-width: 600px) {
  #link {
    display: none;
  }
  #companylogo {
    display: block;
  }

  .verticalLine {
    display: none;
    border: #f86642 solid 1px;
    height: 50px;
  }

  #imgHeader {
    margin-top: -20px;
    z-index: 1;
    width: 100vw;
  }

  #title {
    margin-bottom: 25px;
    font-size: 4vw;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-right: 10px;
  }

  #article-1 section {
    display: block;
  }

  main {
    padding: 50px;
    text-align: center;
  }

  #article-1 figure {
    margin: auto;
    width: 70%;
  }

  #article-2 section {
    margin-top: 50px;
    display: block;
  }

  button {
    color: white;
    background-color: #f86642;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .plus {
    font-size: x-small;
  }

  #content {
    justify-content: space-around;
    margin: auto;
    width: 90%;
    z-index: 2;
    position: relative;
  }
}
